.input_text{
    color:green;
    font-size: 34px;
}

.input{
    margin-left: 360px;
    margin-top: 50px;
    margin-right: 460px;
    font-size: 25px;
}
.container{
    color:greenyellow;
    font-size: 25px;
}
